@font-face{font-family:'Bitter';font-style:normal;font-weight:400 700;font-display:swap;src:url(fonts/bitter-var.woff2) format('woff2')}
@font-face{font-family:'Bitter';font-style:italic;font-weight:400;font-display:swap;src:url(fonts/bitter-italic-var.woff2) format('woff2')}
@font-face{font-family:'Source Sans 3';font-style:normal;font-weight:400 600;font-display:swap;src:url(fonts/sourcesans3-var.woff2) format('woff2')}
@font-face{font-family:'Source Sans 3';font-style:italic;font-weight:400;font-display:swap;src:url(fonts/sourcesans3-italic-var.woff2) format('woff2')}
